@mixin fontsize($size:16, $line: $size * 16){
	font-size:    $size  + px;
	line-height: $line + px;
	font-size:   ($size / 16) + rem;
	line-height: ($line / 16) + rem;
}

@mixin nunito($style: normal, $weight: normal){
	font-family: 'Nunito', sans-serif;
	font-weight: $weight;
	font-style: $style;
}


@mixin transition($type: all, $time: 0.2s, $property: ease ) {
	-webkit-transition: $type $time $property;
	-moz-transition: $type $time $property;
	-o-transition: $type $time $property;
	transition: $type $time $property;        
}


@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


