

$black 			: #000000;


$gray 			: #323638;
$light-gray 	: #edeceb;

$text-gray 		: #434445;

$dark-blue 		: #0295aa;
$blue			: #00c9e1;

$brand-color 	: #f45724;

$accent-color 	: #fc9e14;

$white 			: #ffffff;